doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/fingerprint2.min.js')
    script(src='/javascripts/common.js')
    script.
      const config = !{JSON.stringify(config)}
      const data = !{JSON.stringify(data)}
  body
    block content
